openapi: 3.0.3
info:
  title: Google Drive API (MVP)
  version: v3
  description: Minimal Google Drive API surface for AIW MCP gateway (read-only).
servers:
  - url: https://www.googleapis.com
paths:
  /drive/v3/files:
    get:
      operationId: drive_files_list
      summary: List files
      parameters:
        - name: q
          in: query
          required: false
          schema: { type: string }
        - name: pageSize
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000 }
        - name: pageToken
          in: query
          required: false
          schema: { type: string }
        - name: fields
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        mimeType: { type: string }
                  nextPageToken: { type: string }
  /drive/v3/files/{fileId}:
    get:
      operationId: drive_files_get
      summary: Get file metadata
      parameters:
        - name: fileId
          in: path
          required: true
          schema: { type: string }
        - name: fields
          in: query
          required: false
          schema: { type: string }
        - name: alt
          in: query
          required: false
          schema:
            type: string
            enum: [json, media]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  name: { type: string }
                  mimeType: { type: string }

